<h1><%= @review.title %></h1>
<% if @review.rating %>
<% x = 0 %>
<% stars = [] %>
<% until (x >= @review.rating) %>
<% x += 1 %>
<% stars.push('⭐️') %>
<% end %>
<p><%= stars.join(" ") %></p>
<% else %>
<p>There is no rating for <%= "#{@review.title}" %> yet.</p>
<% end %>
<h3><%= @review.author %></h3>
<h3><%= @product.name %></h3>
<p><%= @review.content_body %></p>

<a><%= link_to "Edit", edit_product_review_path(@product, @review) %></a>  |  <a><%= link_to "Delete", product_review_path(@product, @review),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></a>

<hr>

<a><%= link_to "Return to product", product_path(@product) %></a>
