<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Food Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Mario's Specialty Food Products</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if current_user %>
            <%= link_to "Sign Out", '/signout', class: "nav-item nav-link" %>
            <% if current_user.admin == true %>
              <span class="navbar-text"><strong>Admin</strong></span>
            <% end %>
          <% else %>
          <%= link_to "Sign In", '/signin', class: "nav-item nav-link" %>
          <%= link_to "Sign Up", 'signup', class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <% if flash[:alert] %>
        <%= content_tag :div, msg, class: "alert alert-warning", role: "alert" %>
      <% else %>
        <%= content_tag :div, msg, class: "alert alert-success", role: "notice" %>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
