<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Food Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron">
      <h1>Mario's Specialty Food Products</h1>
    </div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-success", role: "alert" %>
    <% end %>
    <div class="container">
      <%= flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
